{% extends "layout.html" %}

{% block title %}Hello!{% endblock %}

{% block content %}

<div class="col-lg-6 col-md-9 col-sm-11 col-xs-12" style="margin-top:25pt; margin-bottom:25pt;margin-left:auto;margin-right:auto;position:relative;">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Hello World!</h4>
    <p>If you see this message, it means everything works well.</p>
    <hr>
    <p class="mb-0">New features will be added here. Keep your eye on this.</p>
  </div>
  <div class="card mb-3">
    <div class="card-header text-white bg-primary">A Quick Note</div>
    <div class="card-body">
      <h5 class="card-title">Behind the scene...</h5>
      <p class="card-text">This webpage is entirely built on <a href="http://flask.pocoo.org">Flask</a> and <a href="http://jinja.pocoo.org">Jinja</a>, with the programming language Python 3. I'm still trying to figure out how these things work,
        while at this moment, I feel it's more elegant and more efficient than the PHP framework.</p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3">
    <div class="card-header">Recent Update</div>
    <div class="card-body">
      <h6 class="card-test">{{ lastC['messageHeadlineHTML'] }} </h6>
      <p class="mb-0 card-text font-weight-light">{{ lastC['messageBodyHTML'] }}</p>
      <small class="card-text">Updated on {{ lastC['pushedDate'] }}</small>
      <hr>
      <a class="text-light font-weight-bold" href="{{ lastC['url'] }}"><small>View on Github</small></a>
    </div>
  </div>
  <div class="card border-info mb-3">
    <div class="card-header bg-info text-white">More about API</div>
    <div class="card-body">
      <b class="mb-0 card-text">Proundly using <a class="text-dark" href="https://graphql.org">GraphQL</a></b>
    </div>
  </div>
</div>

{% endblock %}
